.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure the container takes the full height of the viewport */
    width: 90vw; /* Ensure the container takes the full width of the viewport */
    padding: 0; /* Remove any padding */
    margin: 0 10px; /* Add a small margin to the left and right */
  }