.DS_Store
**/__MACOSX/*
**/backend/data/*
**/.vscode/
**/.venv/
**/flask_session/
**/.idea/
**/.angular/
**/dist/
**/outputs/
**/logs/
**/node_modules/
**/__pycache__/
*.keras
*.png
*.csv
*.h5
*.npy
**/output-files/*
**/source-files/*
**/data/*
**/target/*
