# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.env*
.venv/
venv/
ENV/
.envrc

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Test and coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Misc
*.bak
*.swp
*.swo
*.tmp
*.orig

# Ignore data and output folders
output/
data/
